.textService{
    font-family: 'LTSoul';
    font-size: 1.35rem;
    line-height: 1.75rem;
    color:#582D1D;
}

.titre_coiffure{
    font-family: 'MAK';
    font-size: 2rem;
    color: #582D1D;
}
.serviceItem{
    font-family: 'LTSoul';
    font-size: 1.35rem;
    line-height: 1.75rem;
    color:#582D1D;
}
